.overlay {
    position: absolute; 
    bottom: 0; 
    background: #0d2e61;
    background: #0d2e61; /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .img:hover .overlay {
    opacity: 1;
  }

  #FormworkImagesAdjust .ant-row .ant-col img
  {
    height: 100% !important;
    /* object-fit: cover !important; */
  }