* {
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Raleway", sans-serif;
  /* color: #3f3f3f; */
  letter-spacing: 0.5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #000;
}

body::-webkit-scrollbar {
  display: none;
}

.has-text-left {
  text-align: left;
}

.nav-shadow {
  box-shadow: 0 0 5px 2px #6d6c6c71 !important;
  transition: all 0.3s ease-in !important;
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}

.shadow-0 {
  box-shadow: 0 0 5px 2px #6d6c6c71 !important;
  transition: all 0.3s ease-in !important;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 5px 2px #6d6c6c71 !important;
  background-color: #ffffff !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
}

.fixed-nav {
  position: sticky !important;
  top: 15px;
  z-index: 1000;
  width: 100%;
  /* box-shadow: 0 0 5px 2px #6d6c6c71 !important; */
}

.remove-fixed-nav {
  position: fixed !important;
  box-shadow: 0 0 5px 2px #6d6c6c71 !important;
  animation: animate-nav-remove 2s forwards !important;
  width: 100%;
}

@keyframes animate-nav {
  0% {
    top: -100px;
    left: 0;
  }

  100% {
    top: 0;
    left: 0;
  }
}

@keyframes animate-nav-remove {
  0% {
    top: 0;
    left: 0;
  }

  100% {
    top: -100px;
    left: 0;
  }
}

.slick-prev,
.slick-next {
  display: none !important;
}

.section_padding {
  padding: 2rem 0;
}

.sectional_heading {
  text-align: left;
}

.blue_color {
  color: #0d2e61;
}

.bluebg_color {
  background-color: #0d2e61;
}

.red_color {
  color: #e30016;
}

/* Our Value Creation Parameters start */
.value_parameter {
  background-image: url(/public/Sources/images/value-parameterbg.png);
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: auto;
  justify-content: center;
  padding: 5rem 0;
  position: relative;
}

.fadeInUp {
  animation-name: fadeInUp;
}

.single-service {
  box-shadow: 0 1px 6px 0 #32323266;
  background: #0d2e61 none repeat scroll 0 0;
  color: #afbfd0;
  margin-bottom: 50px;
  overflow: hidden;
  padding: 40px 20px;
  position: relative;
  min-height: 350px;
  margin: 20px;
}

.single-service:hover .service-hidding-and-icon {
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}

.service-hidding-and-icon {
  color: #0d2e61;
  -webkit-box-align: center;
  align-items: center;
  background: #fff none repeat scroll 0 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s ease 0s;
  width: 100%;
}

.service-details {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.4s ease 0s;
}

.single-service:hover .service-details {
  color: #fff;
  opacity: 1;
  transform: translateY(0px);
}

/* Our Value Creation Parameters end */

/* service start */
.ant-space-item {
  display: flex;
  justify-content: center;
}

/* .servicecard {
  margin: 2rem;
  background-color: #fff;
} */
.icon_border {
  background-repeat: no-repeat;
  border: 3px solid #0d2e61;
  border-radius: 50%;
  display: inline-block;
  max-height: 118px;
  max-width: 118px;
  padding: 20px;
  position: relative;
}

.servicecard {
  margin: 2rem;
  background-color: #fff;
  min-height: 400px;
  box-shadow: 0 0 0 0.5px #5c5c5c71;
  border: none;
  transition: all 0.5s;
}

.service_icon {
  color: #0d2e61;
}

.servicecard:hover .service_icon {
  color: #fff;
}

.service_title {
  color: #0d2e61;
  transition: all 0.5s;
}

.servicecard:hover .service_title {
  color: #fff;
  transition: all 0.5s;
}

.servicecard:hover {
  background-color: #0d2e61;
  color: #fff;
  box-shadow: 0 0 0 0.5px #0d2e61;
  transition: all 0.5s;
}

.servicecard:hover .icon_border {
  border: 3px solid #fff;
  transition: all 0.5s;
}

.section-4 .figure img {
  vertical-align: top;
  max-width: 100%;
}

.section-4 .figure {
  position: relative;
  overflow: hidden;
}

.section-4 .figure .service_line {
  position: absolute;
  top: 50%;
  left: 50%;
  display: table;
  padding: 0 20px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section-4 .figure .service_line:before {
  position: absolute;
  display: block;
  width: 0%;
  height: 18%;
  content: "";
  background-color: #0d2e61;
  opacity: 0.8;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-tranisition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.section-4 .figure .service_line:after {
  position: absolute;
  display: block;
  width: 0%;
  height: 18%;
  content: "";
  background-color: #0d2e61;
  opacity: 0.8;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-tranisition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.section-4 .figure .service_line:before {
  right: -139%;
}

.section-4 .figure .service_line:after {
  left: -139%;
}

.section-4 .figure h3 {
  color: #1d1d1d;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  opacity: 0;
}

.section-4 .figure h3 span {
  font-weight: 700;
  display: block;
  color: #03446a;
}

/* .section-4 .figure a {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
} */

.section-4 .figure:hover img,
.section-4 .figure.hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.section-4 .figure:hover h3,
.section-4 .figure.hover h3 {
  opacity: 1;
}

.section-4 .figure:hover .service_line,
.section-4 .figure.hover .service_line {
  opacity: 1;
}

.section-4 .figure:hover .service_line:before,
.section-4 .figure.hover .service_line:before,
.section-4 .figure:hover .service_line:after,
.section-4 .figure.hover .service_line:after {
  width: 143%;
}

/* service end */

/* client start */
.client_logo {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  /* box-shadow: 0 0 5px 2px #6d6c6c71; */
  box-shadow: 0 0 15px 0 #cec1c1;
  border-radius: 10px;
}

.testimonials {
  padding: 2rem;
  margin: 1rem;
  box-shadow: 0 0 15px 0 #cec1c1;
  border-radius: 10px;
  min-height: 630px;
}

.testcontent_wrapper {
  position: relative;
}

/* .testimonial_content::before {
  background: #e30016;
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  height: 4px;
  width: 60px;
} */
.line {
  width: 25%;
  background-color: #e30016;
  height: 2px;
  margin: 1rem 0;
}

.glider-prev {
  left: 0 !important;
  top: 45% !important;
}

.glider-next {
  right: 0 !important;
  top: 45% !important;
  left: auto;
}

.expertise_card {
  text-align: center;
}

/* client end */

/* pop up start */
.model_button {
  position: fixed;
  top: 50%;
  right: 0%;
  z-index: 99;
  line-height: 0;
  padding: 0.5rem;
  background: #0d2e61;
  color: #fff;
  border-right: 0;
  border: 1px solid #0d2e61;
  border-right: 0;
  transition: all 0.5s;
}

.model_button:hover {
  /* background: #fff; */
  color: #0d2e61;
  border: 1px solid #0d2e61;
  border-right: 0;
  transition: all 0.5s;
}

.ant-input {
  background: transparent !important;
}

.close {
  position: absolute;
  /* top: 1%;
  right: 1%; */
  /* background-color: transparent; */
  /* color: #4a4a4a; */
  border: none;
}

/* pop up end */

/* header start */
.ant-back-top-content {
  background-color: grey;
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  color: #0d2e61;
}

.get_in {
  /* border-color: #373737 !important; */
  letter-spacing: 2px;
  border-color: #8c071b !important;
  background: #fff !important;
  color: #8c071b !important;
}

.get_in:hover {
  color: #8c071b !important;
  border-color: #8c071b !important;
  background: #8c071b !important;
  color: #fff !important;
  transition: all 0.5s ease-in-out;
}

.header_item {
  /* margin: 1.7rem 2rem; */
  letter-spacing: 0.5px;
  /* padding: 0px !important; */
  color: #000;
  line-height: 0;
  font-weight: 600;
  transition: all 0.4s;
  /* margin-bottom: 1.7rem;
  margin-top: 1.7rem; */
  margin: 1.7rem 0.5rem;
}

.navigation {
  position: relative;
}

/* .borderXwidth .hoverheader_item:before,
.borderXwidth .hoverheader_item:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: "";
  background: #8c071b;
  transition: all 0.6s;
}

.borderXwidth .hoverheader_item:before {
  left: 0px;
  top: 0px;
} */

/* .borderXwidth .hoverheader_item:after {
  right: 0px;
  bottom: 0px;
}

.borderXwidth .hoverheader_item:hover:before,
.borderXwidth .hoverheader_item:hover:after {
  opacity: 1;
  width: 100%;
} */

.button_item {
  margin: 0;
}

.navbar-item img {
  max-height: none;
}

.navbar-burger:hover {
  background-color: #fff;
}

/* .navbar-item img {
  max-height: 5rem;
} */
/* a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: #fff;
  color: #8c071b;
} */
.header_button {
  line-height: 5.5;
}

/* header end */

/* our management start */
.core_img {
  text-align: center;
  padding: 1rem;
}

.core_box {
  box-shadow: #0000000d 0px 6px 24px 0px, #00000014 0px 0px 0px 1px;
  padding: 1.5rem;
  border-radius: 10px;
  transition: all 0.5s;
  margin-top: 3rem;
  margin-right: 3rem;
}

.core_box:hover {
  box-shadow: #32325d40 0px 50px 100px -20px, #0000004d 0px 30px 60px -30px;
  /* box-shadow: 0 0 15px 0 #cec1c1; */
  transform: translate(0, -15px);
  transition: all 0.5s;
}

.management_card {
  margin: 2rem;
  border: 1px solid #fff;
  background-color: #0d2e61;
  color: #fff;
  transition: all 0.5s;
  position: relative;

  display: flex;
  transition: all 0.5s;
}

.management_icon {
  display: inline;
  text-align: center;
  background-color: #fff;
  color: #0d2e61;
  border-radius: 50%;
  max-height: 118px;
  max-width: 118px;
  padding: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -70%);
}

.management_content {
  margin-top: 3rem;
}

/* .management_card:hover .management_mainicon {
  animation: management_move 2s forwards;
  transition: all 0.5s;
}

@keyframes management_move {
  0% {
    transform-style: preserve-3d;
    transform: rotateX(0deg);
  }
  100% {
    transform-style: preserve-3d;
    transform: rotateX(-180deg);
  }
} */

/* our management end */

/* carosal start */
.carousal_height.carousel-slider {
  height: 100vh;
}

/* carosal end */

/* image gallery start */
.card_gallery {
  width: 400px;
  height: 400px;
  /* margin: -150px; */
  float: left;
  perspective: 500px;
  margin: 1rem;
}

.content {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card_gallery:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: rgb(177, 51, 51); */
  /* line-height: 300px; */
  color: #03446a;
  text-align: center;
  /* font-size: 60px; */
  border-radius: 5px;
  backface-visibility: hidden;
}

.front img {
  border-radius: 5px;
}

.back {
  background: #0d2e61;
  color: white;
  transform: rotateY(180deg);
  padding: 8rem 1rem;
}

.gallery_title1 {
  /* position: absolute;
  top: 35%;
  left: 23%;
  transform: translateY(-50%);
  display: flex;
  align-items: center; */
}

.gallery_title2 {
  /* position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
  display: flex;
  align-items: center; */
}

/* image gallery end */

.home-page-bg,
.services-page-bg,
.about-us-bg {
  background-color: rgba(255, 255, 255, 0.95);
  background-blend-mode: lighten;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.home-page-bg {
  background-image: url(/public/Sources/images/bg/6.jpg);
}

.services-page-bg {
  background-image: url(/public/Sources/images/bg/7.avif);
}

.about-us-bg {
  background-image: url(/public/Sources/images/bg/7.avif);
}

/* project start */
.project_box {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 1px 6px 0 #32323266;
  padding: 1.5rem 0.75rem;
  margin: 1rem;
  color: #252525;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  transition: all 0.5s;
}

.project_box:hover {
  transform: scale(1.1);
  border-radius: 0;
  transition: all 0.5s;
}

.project_box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: #0d2e61;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.project_box:hover::before {
  opacity: 1;
  visibility: visible;
}

/* project end */

/* standards start */
/* .project_boxquality {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 1px 6px 0 #32323266;
  padding: 1.5rem 0.75rem;
  margin: 1rem;
  color: #252525;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  transition: all 0.5s;
  min-height: 153px;
} */
/* standards end */

.ongoing-projects,
.completed-projects {
  margin: 1.5rem;
}

.ongoing-projects:hover,
.completed-projects:hover {
  cursor: pointer;
}

/* residential start */

/* .residential {
  display: flex;
  height: auto;
  justify-content: center;
  padding: 5rem 0;
  position: relative;
} */

.projects-bg {
  background-image: url(/public/Sources/images/background1.png);
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.property_list {
  background-color: #fff;
  margin: 1.5rem;
  box-shadow: 0 -1px 1px #0000001f, 0 0px 1px #000000c7;
  transition: all 0.6s;
  min-height: 775px;
  /* height: 48rem; */
}

.property_list:hover {
  box-shadow: 2px 2px 20px #00000040;
  transition: all 0.6s;
}

.propertylist_image img {
  transition: all 0.6s;
  cursor: pointer;
}

.propertylist_content {
  line-height: 1.7;
}

.property_list:hover .propertylist_image img {
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 0.6s;
}

.propertylist_image {
  position: relative;

  /* background: #000; */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.propertylist_image::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
}

.property_list:hover .propertylist_image::before {
  animation: shine 0.85s;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

/* residential end */

/* stats start */

.stats {
  background-image: url("/public/Sources/images/whoarewe/photo-1503708928676-1cb796a0891e.jpg"),
    url("/public/Sources/images/whoarewe/gray.jpg");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 40px 0;
}

.stats .container {
  width: 90%;
  margin: 0 auto;
}

.stats .container .property_list {
  min-height: 250px;
  background-color: white;
  margin: 10px 20px;
  padding: 20px;
}

.stats .container .property_list_image {
  max-height: 75px;
  margin: 10px 0;
}

.stats .container .property_list_content {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .stats .container {
    width: 100%;
  }
}

/* career start */
.career_card {
  box-shadow: #32325d40 0px 50px 100px -20px, #0000004d 0px 30px 60px -30px;
  /* box-shadow: 0 1px 6px 0 #32323266; */
}

.career_text {
  padding: 0.5rem;
}

.card_outer {
  padding: 1.5rem;
}

/* career end */

/* expertise start */
.tech_icon {
  background-color: #0d2e61;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 1px 6px 0 #32323266;
  padding: 1rem;
  /* margin-right: 0.5rem; */
  font-size: 1rem;
  text-align: center;
  color: #fff;
  line-height: 0;
  font-size: 1.5rem;
}

/* expertise end */

/* contact start */
.contact_box {
  background-image: url("/public/Sources/images/background2.png");
  background-repeat: round;
}

.ant-space-item {
  display: flex;
}

.contact_icon {
  font-size: 2rem;
}

.contact_content {
  font-size: 1.2rem;
}

.ant-input:hover {
  border-color: #0d2e61;
}

.ant-input {
  border-color: #0d2e61;
  box-shadow: none;
  border-bottom: 2px solid #0d2e61;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  outline: 0;
  background: #f4f4f4;
}

.ant-input-status-error:not(.ant-input-disabled):not(
    .ant-input-borderless
  ).ant-input,
.ant-input-status-error:not(.ant-input-disabled):not(
    .ant-input-borderless
  ).ant-input:hover {
  background: #f4f4f4;
  border-color: #0d2e61;
}

.ant-input-status-error:not(.ant-input-disabled):not(
    .ant-input-borderless
  ).ant-input:focus,
.ant-input-status-error:not(.ant-input-disabled):not(
    .ant-input-borderless
  ).ant-input-focused {
  border-color: #0d2e61;
  box-shadow: 0 0 0 2px rgb(244 244 244);
  border-right-width: 1px;
  outline: 0;
}

.ant-input:focus,
.ant-input-focused {
  border-color: #0d2e61;
  box-shadow: none;
  border-bottom: 2px solid #0d2e61;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  outline: 0;
  background: #f4f4f4;
}

.ant-form-item-control-input {
  min-height: 70px;
}

.side_box {
  background-color: #0d2e61;
}

.loca_wrapper,
.form_col {
  padding: 3rem;
}

.submit_button {
  background-color: #0d2e61;
  background-color: #0d2e61;
  color: #f4f4f4;
}

.submit_button:hover {
  border-color: #0d2e61;
  color: #0d2e61;
  font-weight: 600;
  background-color: #f4f4f4;
  transition: all 0.5s;
}

/* contact end */

/* partner start */
.partnerbtn {
  color: #0d2e61;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #0d2e61;
  transition: all 0.5s;
}

.partnerbtn:hover {
  color: #fff;
  font-weight: 600;
  background-color: #0d2e61;
  border: 1px solid #0d2e61;
  transition: all 0.5s;
}

/* partner end */

/* who we are start */
.residential_events {
  background-image: url(/public/Sources/images/background1.png);
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  justify-content: center;
  position: relative;
}

/* .strength {
  transform: translateY(-50%);
} */

.strength {
  transform: translateY(50%);
  margin: 3rem 2rem;
}

.timeline_wrapper {
  width: 100%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.timeline_wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #ccd1d9;
  /* z-index: 1; */
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;*/
  display: -webkit-inline-box;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}
.timeline-block img {
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: cover;
}
.right_grid {
  margin-right: 2rem;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #f5f7fa;
  background: #0d2e61;
  margin-top: 10px;
  z-index: 9999;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #666;
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}

.timeline-content span {
  font-size: 15px;
  color: #a4a4a4;
}

.timeline-content p {
  line-height: 1.5em;
  /* word-spacing: 1px; */
  /* color: #888; */
}

.timeline-content {
  width: 94%;
  /* background: red; */
  position: relative;
  border-radius: 10px;
}

/* .timeline-content:before {
  content: "";
  position: absolute;
  right: 98%;
  top: 0px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-right: 26px solid red;
  border-bottom: 13px solid transparent; 
}*/

.talkbubble {
  width: 120px;
  height: 80px;
  background: red;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid red;
  border-bottom: 13px solid transparent;
}

.timeline-contentL {
  /* width: 120px;
  height: 80px; */
  /* background: red; */
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* .timeline-contentL:before {
  content: "";
  position: absolute;
  left: 98%;
  top: 0px;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-left: 26px solid red;
  border-bottom: 13px solid transparent;
} */

.timeline-contentL {
  width: 94%;
  padding: 0 15px;
  color: #666;
}

.timeline-contentL h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}

.timeline-contentL span {
  font-size: 15px;
  color: #a4a4a4;
}

.timeline-contentL p {
  line-height: 1.5em;
  /* word-spacing: 1px; */
  /* color: #888; */
}

.timeline_year {
  background-color: #0d2e61;
  color: #fff;
  margin-right: 1rem;
  padding: 0.3rem 1.5rem;
  display: inline;
}

.timeline_number {
  line-height: 1.3;
  font-size: 9rem;
  font-family: sans-serif;
  color: #0d2e61;
  padding: 0 0.5rem;
}

.main_timeline_text {
  box-shadow: #32325d40 0px 50px 100px -20px, #0000004d 0px 30px 60px -30px;
  padding: 1rem;
  background-color: #fff;
  text-align: center;
}

/* .different_width {
  width: calc(49% + 11px);
} */

/* .timeline {
  background: #212121;
  margin: 20px auto;
  padding: 20px;
} */
.space-align-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.space-align-block {
  flex: inherit;
  margin: 8px 4px;
  padding: 30px;
  /* border: 1px solid #40a9ff; */
}

.space-align-block .mock-block {
  display: inline-block;
  padding: 32px 8px 16px;
  background: rgba(150, 150, 150, 0.2);
}

.mile_box {
  box-shadow: #32325d40 0px 50px 100px -20px, #0000004d 0px 30px 60px -30px;
  padding: 1rem;
  min-height: 332px;
  background-color: #fff;
  min-height: 350px;
  text-align: center;
}

/* who we are end */

/* awards start */
.awardcard {
  border-radius: 5px;
  box-shadow: 0 6px 24px 0 #0000000d, 0 0 0 1px #00000014;
  margin: 2rem;
  transition: all 0.5s;
}

.awardcard:hover {
  box-shadow: 0 50px 100px -20px #32325d40, 0 30px 60px -30px #0000004d;
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  transition: all 0.5s;
}

/* awards end */

/* footer start */

.main_footer {
  background-attachment: scroll !important;
  background-clip: initial !important;
  background-color: #0d2e61 !important;
  background-image: url("/public/Sources/images/footer_bg.png");
  background-origin: initial !important;
  background-position: 0 0 !important;
  background-repeat: repeat !important;
  background-size: initial !important;
  color: #fff;
  /* height: 60vh; */
  height: 50%;
}

.main_footer .quick_link li a:hover {
  padding-left: 5px;
  font-weight: bold;
  color: #e30016 !important;
  transition: all 0.3s ease;
}

.footer_link {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.first_col {
  margin-right: 2rem;
}

.second_col {
  margin-left: 2rem;
}

.footer_address a {
  font-size: 0.9rem;
}

.footer_line {
  position: relative;
}

.footer_heading::before {
  background: #e30016;
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  height: 4px;
  width: 60px;
}

.footer_colum {
  display: flex;
  justify-content: center;
}
/* .ant-layout-footer {
  padding: 24px 47px;
} */

hr.footerhr {
  background-color: whitesmoke;
  border: none;
  display: block;
  height: 1px;
  margin: 0;
}
.second-col {
  margin-left: 11%;
}
/* footer end */

/* mobile start */
@media only screen and (max-width: 425px) {
  .second-col {
    margin-left: 0%;
  }
  .mobile_margin {
    padding: 0 1rem;
  }

  .carousel.carousel-slider {
    height: auto;
  }

  .sectional_heading {
    text-align: center;
  }

  .contact_content {
    font-size: 1rem;
  }

  .loca_wrapper,
  .form_col {
    padding: 1.5rem;
  }

  .second_col {
    margin-left: 0;
  }

  .footer_colum {
    display: flex;
    justify-content: start;
  }

  .core_box {
    margin: 1rem;
  }

  .first_col {
    margin-right: 0rem;
  }

  .strength {
    transform: translateY(0%);
  }

  .timeline_wrapper:before {
    left: 8px;
    width: 2px;
  }

  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }

  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
    width: calc(100% + 0 px) !important;
  }

  .about_img {
    margin-top: 2rem;
  }

  .timeline-content:before {
    display: none;
  }

  .timeline-contentL:before {
    display: none;
  }

  /* .card_timeline:nth-child(odd) > .info > .title::before {
    left: -39px;
  }

  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
  }
  .card_timeline::before {
    width: 51%;
  } */
  .timeline_wrapper {
    width: 90%;
  }

  .servicecard {
    margin: 1rem;
  }

  .card_gallery {
    width: 300px;
    height: 300px;
  }

  .residential_events {
    background-position: inherit;
  }

  .core_value {
    margin: 0 1rem;
  }

  .residential {
    background-position: 0;
  }
}

@media only screen and (max-width: 576px) {
  .section-4 .figure:hover .service_line:before,
  .section-4 .figure.hover .service_line:before,
  .section-4 .figure:hover .service_line:after,
  .section-4 .figure.hover .service_line:after {
    width: 170%;
  }
  .ant-layout-footer {
    padding: 24px 20px !important;
  }

  .section-4 .figure .service_line:before {
    right: -172%;
  }

  .section-4 .figure .service_line:after {
    left: -172%;
  }
  .second-col {
    margin-left: 0px !important;
  }
  .second_col {
    margin-left: 0rem !important;
  }

  .footer_colum {
    display: flex;
    justify-content: flex-start;
  }

  .main_timeline_text {
    margin: 0 1rem;
  }

  .timeline_number {
    padding: 0;
    font-size: 5rem;
  }

  .residential {
    background-position: 0;
  }
}

/* mobile end */

/* tablet start */
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .mobile_margin {
    padding: 0 1rem;
  }

  .project_box {
    min-height: 10rem;
  }

  .carousel.carousel-slider {
    height: auto;
  }

  .sectional_heading {
    text-align: center;
  }

  .loca_wrapper {
    padding: 1rem;
  }

  .form_col {
    padding: 1rem;
  }

  .testimonials {
    min-height: 620px;
  }

  .core_box {
    margin: 1.5rem;
  }

  .strength {
    transform: translateY(0%);
  }

  .service_wrapper {
    min-height: 300px;
  }

  .about_img {
    margin-top: 2rem;
  }

  .timeline-contentL {
    width: 88%;
  }

  .timeline-contentL:before {
    content: "";
    position: absolute;
    left: 96%;
    top: 0px;
    border-top: 14px solid transparent;
  }

  .timeline-content {
    width: 94%;
  }

  .timeline-content:before {
    content: "";
    position: absolute;
    right: 96%;
    border-top: 14px solid transparent;
  }

  .timeline-content {
    width: 90%;
  }

  .different_width {
    width: calc(48% + 8px);
  }

  .card_gallery {
    width: 350px;
    height: 350px;
  }

  .timeline-block-left {
    width: calc(50% + -7px) !important;
  }

  .timeline_number {
    line-height: 1.3;
  }

  .main_timeline_text {
    margin: 0 1rem;
  }

  .timeline_number {
    padding: 0;
  }

  .residential_events {
    background-position: inherit;
  }

  .residential {
    background-position: 0;
  }

  .second_col {
    margin-left: 0;
  }

  .footer_colum {
    display: block;
  }
}

/* tablet end */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .project_box {
    min-height: 10rem;
  }

  .about_content {
    padding: 0 2rem;
  }

  .loca_wrapper,
  .form_col {
    padding: 2rem;
  }

  .single-service {
    min-height: 375px;
    margin: 10px;
  }

  .testimonials {
    min-height: 750px;
  }

  .core_box {
    margin: 1rem;
  }

  .strength {
    transform: translateY(0%);
  }

  .different_width {
    width: calc(49% + 6px);
  }

  .card_gallery {
    width: 300px;
    height: 300px;
  }

  .back {
    padding: 6rem 1rem;
  }

  .section-4 .figure .service_line:before {
    top: 240%;
  }

  .section-4 .figure .service_line:before {
    top: 50%;
  }

  .servicecard {
    margin: 1rem;
  }
}

.sidebar-contact {
  position: fixed;
  top: 50%;
  left: -350px;
  transform: translateY(-50%);
  width: 350px;
  height: auto;
  padding: 40px;
  background: #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 999;
}

.sidebar-contact.active {
  left: 0;
}

.sidebar-contact input,
.sidebar-contact textarea {
  width: 100%;
  height: 36px;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
}

.sidebar-contact h2 {
  margin: 0 0 20px;
  padding: 0;
}

.sidebar-contact textarea {
  height: 60px;
  resize: none;
}

.sidebar-contact input[type="submit"] {
  background: #00bcd4;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 18px;
}

.toggle {
  position: absolute;
  height: 48px;
  width: 48px;
  text-align: center;
  cursor: pointer;
  background: #f00;
  top: 0;
  right: -48px;
  line-height: 48px;
  z-index: 999;
}

.toggle:before {
  /* content: "\f003";
  font-family: fontAwesome; */
  font-size: 18px;
  color: #fff;
}

.toggle.active:before {
  content: "\f00d";
}

@media only screen and (min-width: 526px) and (max-width: 768px) {
  .header_item {
    line-height: 1;
    margin: 1.2rem 0.3rem;
  }
}

@media only screen and (max-width: 525px) {
  .header_item {
    line-height: 1;
    margin: 1rem 0;
  }
}
.about_img {
  width: 100%;
  max-height: 80vh;
}

@media (min-width: 2000px) {
  .ant-col-xxl-6 {
    display: block;
    flex: 8 11 87%;
    max-width: 25%;
  }
}
@media (min-width: 992px) {
  .ant-col-lg-4 {
    display: block;
    flex: 6 0 13.666667%;
    max-width: 16.666667%;
  }
}

.propertylist_image img {
  width: 100%;
  aspect-ratio: 3/2;
}

@media (min-width: 350px) and (max-width: 700px) {
  .management_card {
    height: auto;
  }
}
@media (min-width: 1100px) and (max-width: 1300px) {
  .management_card {
    height: 450px;
  }
}
@media (min-width: 1590px) and (max-width: 2000px) {
  .management_card {
    height: 550px;
  }
}
#form_edit {
  margin: 10px 20px;
  background-color: white;
}

#form_edit input {
  border-color: #0d2e61;
  box-shadow: none;
  border-bottom: 2px solid #0d2e61;
  background-color: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  outline: 0;
  width: 100%;
}
#form_edit input::placeholder {
  color: gray;
  opacity: 0.5;
  font-weight: 600;
}
#form_edit .form-item {
  box-sizing: border-box;

  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;

  list-style: none;
  font-feature-settings: "tnum", "tnum";
  margin-bottom: 55px;
  vertical-align: top;
  width: 100%;
}
#message {
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid #0d2e61;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  outline: 0;

  transition: all 0.3s, height 0s;
}
textarea.form_input {
  margin: 0;
  height: 28px;
}
textarea.form_input::placeholder {
  color: gray;
  opacity: 0.5;
  font-weight: 600;
}
#form_edit .doc_button {
  border: none;
}
#form_edit .form-item .btn {
  background-color: #0d2e61;
  color: #f4f4f4;
  border: none;
  height: 40px;
  padding: 6.4px 15px;
  font-size: 16px;
  border-radius: 2px;
}
.ReactModalPortal .ReactModal__Overlay {
  z-index: 1000000;
}

.image_position img {
  width: 400px;
  /* object-fit: contain; */
  aspect-ratio: 3/2;
}
.image_position {
  margin: 5px;
}
@media (max-width: 576px) {
  .image_position img {
    width: 200px;
  }
  .navbar-item {
    flex-shrink: unset;
  }
}
